*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #2c2f33;
    width: 100vw;
}

h1{
    visibility: hidden;  
}

.slider {
    width: 90vw;
    height: auto;
    max-height: 90vh;
    overflow: hidden;
}
  
.middle {
    width: 90vw;
    max-width: 768px;
    height: auto;
    margin: 5% auto 0;
    overflow: hidden;
}
  
.responsive {
    width: 90vw;
    max-width: 768px;
    height: auto;
    max-height: 80vh;
}

.slides {
    width: 400%;
    height: 100%;
    display: flex;
  }
.slide {
    transition: all 0.6s ease;
}

.navigation {
    display: flex;
    justify-content: space-between;
    gap: 10%;
    width: 90px;
    height: 19px;
    max-height: 15px;
    margin-left: auto;
    margin-right: 0;
    position: relative;
    bottom: 22px;
}

.nav-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

@media (max-width: 769px) {
    .navigation {
      margin: 10px auto 0;
    }
    .nav-container {
        flex-direction: column-reverse;
    }
  }
  
.bar {
    display: block;
    width: 100%;
    height: auto;
    border: 2px solid #7289da;
    border-radius: 50%;
}

#r1:checked ~ .slides .s1 {
    margin-left: 0;
  }
  #r2:checked ~ .slides .s1 {
    margin-left: -25%;
  }
  #r3:checked ~ .slides .s1 {
    margin-left: -50%;
  }
  #r4:checked ~ .slides .s1 {
    margin-left: -75%;
  }

  .slidessss {
    width: 400%;
    height: 100%;
    display: flex;
  }
  
  .meme-name {
    font-size: 130%;
    width: 90vw;
    max-width: 768px;
    height: auto;
    max-height: 80vh;
    color: white;
    /*transition: all 0.2s ease;*/
  }

  #r1:checked ~ .nav-container .slidessss .s2 {
    margin-left: 0;
  }
  #r2:checked ~ .nav-container .slidessss .s2 {
    margin-left: -25%;
  }
  #r3:checked ~ .nav-container .slidessss .s2 {
    margin-left: -50%;
  }
  #r4:checked ~ .nav-container .slidessss .s2 {
    margin-left: -75%;
  }